.faketerminal
{
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
    text-align: left;
    font-family: Courier, Monaco, monospace;
    font-size: 0.9em;
    position: relative;
    overflow: hidden;

    > ul
    {
        padding: 1em;
        margin: 0;
        list-style: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: auto;

        > li
        {
            word-break: break-word;

            &.ft-command
            {
                position: relative;

                .ft-prompt
                {
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding-right: 0.75em;
                }

                .ft-input,
                .ft-request-input
                {
                    width: 100%;
                    min-height: 1em;
                    line-height: 1em;
                    min-width: 1em;
                    outline-color: transparent;
                    border: none;
                    display: inline-block;
                    outline: 0;

                    *
                    {
                        text-decoration: none;
                    }
                }

                .ft-request-input
                {
                    display:none;
                }

                &.ft-request-input
                {
                    .ft-request-input
                    {
                        display: inline-block;
                    }

                    .ft-input
                    {
                        display: none;
                    }
                }

                &:after
                {
                    clear: both;
                    display: block;
                }
            }
        }
    }
}

// --------------------------------------------------------------------------

//  Colour themes
//  =============

//  Theme template
.faketerminal-theme-template(

    @colorScreenBackground:          rgba(0,0,0,0.7),
    @colorScreenText:                #FFFFFF,
    @colorContextCommentBackground:  none,
    @colorContextCommentText:        #FFFF00,
    @colorContextErrorBackground:    #FF0000,
    @colorContextErrorText:          #FFFFFF,
    @colorContextInfoBackground:     none,
    @colorContextInfoText:           #33E333,
    @colorContextQuestionBackground: none,
    @colorContextQuestionText:       cyan,
    @colorContextMuteBackground:     none,
    @colorContextMuteText:           #CCCCCC

) {

    > ul
    {
        background: @colorScreenBackground;
        color: @colorScreenText;

        li
        {
            .ft-comment
            {
                background: @colorContextCommentBackground;
                color: @colorContextCommentText;
            }

            .ft-error
            {
                background: @colorContextErrorBackground;
                color: @colorContextErrorText;
            }

            .ft-info
            {
                background: @colorContextInfoBackground;
                color: @colorContextInfoText;
            }

            .ft-question
            {
                background: @colorContextQuestionBackground;
                color: @colorContextQuestionText;
            }

            .ft-mute
            {
                background: @colorContextMuteBackground;
                color: @colorContextMuteText;
            }
        }
    }
}

//  Default theme
.faketerminal-theme-default
{
    .faketerminal-theme-template();
}
